<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
 	
	<!-- <resultMap id="purchaseSelectMap" type="com.model2.mvc.service.domain.Purchase">
		<result property="tranNo" 			column="tran_no" 				jdbcType="NUMERIC"/>
		<result property="paymentOption"		column="payment_option" 		jdbcType="VARCHAR" />
		<result property="receiverName" 				column="receiver_name" 						jdbcType="VARCHAR" />
		<result property="receiverPhone" 		column="receiver_phone" 				jdbcType="VARCHAR" />
		<result property="divyAddr" 		column="demailaddr" 			jdbcType="VARCHAR" />
		<result property="divyRequest" 			column="dlvy_request" 				jdbcType="VARCHAR" />
		<result property="tranCode" 			column="tran_status_code" 				jdbcType="VARCHAR" />
		<result property="orderDate" 	column="order_data" 					jdbcType="DATE"  />
		<result property="divyDate" 	column="dlvy_date" 					jdbcType="VARCHAR"  />
		
		<association property="buyer" jdbcType="com.model2.mvc.service.domain.User">
			<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
			<result property="userName"	column="user_name" 		jdbcType="VARCHAR" />
			<result property="password" 	column="password" 		jdbcType="VARCHAR" />
			<result property="role" 				column="role" 					jdbcType="VARCHAR" />
			<result property="ssn" 				column="ssn" 					jdbcType="VARCHAR" />
			<result property="phone" 			column="cell_phone" 		jdbcType="VARCHAR" />
			<result property="addr" 				column="addr" 					jdbcType="VARCHAR" />
			<result property="email" 			column="email" 				jdbcType="VARCHAR"  />
		</association>
		
		<association property="purchaseProd" jdbcType="com.model2.mvc.service.domain.Product">
			<result property="fileName" 			column="image_file" 				jdbcType="VARCHAR"/>
			<result property="manuDate"		column="manufacture_day" 		jdbcType="VARCHAR" />
			<result property="price" 				column="price" 						jdbcType="NUMERIC" />
			<result property="prodDetail" 		column="prod_detail" 				jdbcType="VARCHAR" />
			<result property="prodName" 		column="prod_name" 			jdbcType="VARCHAR" />
			<result property="prodNo" 			column="p_prod_no" 				jdbcType="NUMERIC" />
			<result property="regDate" 			column="reg_date" 				jdbcType="VARCHAR" />
			<result property="proTranCode" 	column="p_tran_status_code" 					jdbcType="VARCHAR"  />		
		</association>	
	</resultMap>
	
	SQL : INSERT
	<insert 	id="addPurchase"		parameterType="com.model2.mvc.service.domain.Purchase" >
	 	INSERT
		INTO transaction( tran_no, buyer_id, prod_no, payment_option , receiver_name , receiver_phone , demailaddr , dlvy_request, tran_status_code, order_data, dlvy_date) 
		VALUES	 (seq_transaction_tran_no.nextval, #{buyer.userId},#{purchaseProd.prodNo}, #{paymentOption} , #{receiverName}, #{receiverPhone}, #{divyAddr},  #{divyRequest}, #{tranCode}, SYSDATE, #{divyDate})
	 </insert>
	

	 <select 	id="findPurchase"	parameterType="int"	resultMap="PurchaseSelectMap">
		SELECT
 		 tran_no, buyer_id,  payment_option , receiver_name , receiver_phone , demailaddr , dlvy_request, tran_status_code, order_data, dlvy_date                                                 
 		FROM transaction  
		WHERE tran_no = #{value}
	 </select> -->
	
	
<resultMap id="purchaseSelectMap" type="com.model2.mvc.service.domain.Purchase">

<result jdbcType="NUMERIC" column="TRAN_NO" property="tranNo"/>
<result jdbcType="NUMERIC" column="PROD_NO" property="purchaseProd.prodNo"/>
<result jdbcType="VARCHAR" column="PROD_NAME" property="purchaseProd.prodName"/>
<result jdbcType="VARCHAR" column="BUYER_ID" property="buyer.userId"/>
<result jdbcType="CHAR" column="PAYMENT_OPTION" property="paymentOption"/>
<result jdbcType="VARCHAR" column="RECEIVER_NAME" property="receiverName"/>
<result jdbcType="VARCHAR" column="RECEIVER_PHONE" property="receiverPhone"/>
<result jdbcType="VARCHAR" column="demailaddr" property="divyAddr"/>
<result jdbcType="VARCHAR" column="DLVY_REQUEST" property="divyRequest"/>
<result jdbcType="CHAR" column="TRAN_STATUS_CODE" property="tranCode"/>
<result jdbcType="DATE" column="order_data" property="orderDate"/>
<result jdbcType="DATE" column="DLVY_DATE" property="divyDate"/>
<result jdbcType="NUMERIC" 	column="purchase_stock" 		property="purchaseStock" 	/>

</resultMap>

<insert id="addPurchase" parameterType="com.model2.mvc.service.domain.Purchase">
INSERT INTO transaction (tran_no, prod_no,prod_name, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr,
 dlvy_request, tran_status_code, order_data, dlvy_date, purchase_stock)
VALUES (seq_transaction_tran_no.NEXTVAL,
#{purchaseProd.prodNo:NUMERIC},
#{purchaseProd.prodName:VARCHAR},
#{buyer.userId:VARCHAR},
#{paymentOption:CHAR},
#{receiverName:VARCHAR},
#{receiverPhone:VARCHAR},
#{divyAddr:VARCHAR},
#{divyRequest:VARCHAR},
#{tranCode:CHAR},
SYSDATE,
#{divyDate:DATE},
#{purchaseStock:NUMERIC} ) 
</insert>

<select id="getPurchase" resultMap="purchaseSelectMap" parameterType="int">
SELECT t.prod_no, t.buyer_id, t.payment_option, t.receiver_name, t.receiver_phone, t.demailaddr, t.dlvy_request, t.dlvy_date, t.order_data, t.tran_status_code, t.tran_no, p.prod_name ,t.purchase_stock
FROM transaction t, product p 
WHERE p.prod_no=t.prod_no(+) AND t.tran_no = #{value}
 </select>
 
 <select id="getPurchase2" resultMap="purchaseSelectMap" parameterType="int">
SELECT p.prod_no,p.prod_detail,p.manufacture_day,p.price,p.reg_date, t.buyer_id, t.payment_option, t.receiver_name, t.receiver_phone, t.demailaddr, t.dlvy_request, t.dlvy_date, t.order_data, t.tran_status_code, t.tran_no, p.prod_name, t.purchase_stock 
FROM transaction t, product p 
WHERE p.prod_no=t.prod_no(+) AND p.prod_no = #{value}
 </select>


	

	 <update	id="updatePurchase"	parameterType="com.model2.mvc.service.domain.Purchase"  >
	   	UPDATE transaction
	   	<set>
			payment_option	=	 #{paymentOption},
			receiver_name 	= 	#{receiverName} ,
			receiver_phone	=	#{receiverPhone},
			demailaddr	=	#{divyAddr},
			dlvy_request	=	#{divyRequest},
			dlvy_date	=	#{divyDate},
			purchase_stock = #{purchaseStock}
			
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 <update id = "updateTranCode"  parameterType = "com.model2.mvc.service.domain.Purchase" >
		Update transaction 
			<set>
				 tran_status_code = #{tranCode} 
			</set>
			where prod_no=#{purchaseProd.prodNo}
	 </update>


	<select  id="getPurchaseList"  parameterType="map"	resultMap="purchaseSelectMap">
	  		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM (SELECT * 
	  	FROM transaction where buyer_id = #{buyerId}				) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select> 
	 
	 <select  id="getPurchaseList2"  parameterType="map"	resultMap="purchaseSelectMap">
	  		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM (SELECT * 
	  	FROM transaction 	) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	 	 <!-- 위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		 -->

		
	 <select  id="getTotalCount"  parameterType="java.lang.String"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT * FROM transaction where buyer_id = #{value}) countTable			
	 </select>
	 
	  <select  id="getTotalCount2"  parameterType="java.lang.String"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT * FROM transaction ) countTable			
	 </select>
	
</mapper>